# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# YouTube debug files
*-player-script.js

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Bot data
data/settings.json
.idea/
data/gameStats.json
# Generator scripts
generate_commands_list.js